@model Reagent
@{
    ViewBag.Title = "New Reagent";
}
@section Scripts {
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<form asp-controller="Reagent" asp-action="NewReagent" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Name">Your Name: </label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Alert">Alert Level: </label>
        <input asp-for="Alert" class="form-control" />
        <span asp-validation-for="Alert" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location">Location </label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="stateId">Solid or Liquid </label>
        <input asp-for="stateId" class="form-control" />
        <span asp-validation-for="stateId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Volume">Current Volume </label>
        <input asp-for="Volume" class="form-control" />
        <span asp-validation-for="Volume" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MaxVolume">Your Name </label>
        <input asp-for="MaxVolume" class="form-control" />
        <span asp-validation-for="MaxVolume" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SupplierID">Supplier </label>
        <input asp-for="SupplierID" class="form-control" />
        <span asp-validation-for="SupplierID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        <div class="text-success">@ViewBag.UserMessage</div>
    </div>
</form>